<html>
    <head>
        {% include "head.html" %}
        <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                $('.mt').editable({
                    type: 'text',
                    title: '修改标题',
                    success: function(response, newValue) {
                        var params = {id:$(this).attr("id"), value:newValue};
                        $.ajax({
                            type : "post",
                            dataType : "json",
                            url : "/blockChain/title",
                            data : params,
                            success : function(data){
                                alert(data["ok"]);
                            }
                        })
                    }
                });

                $('.md').editable({
                    type: 'text',
                    title: '修改详情',
                    success: function(response, newValue) {
                        var params = {id:$(this).attr("id"), value:newValue};
                        $.ajax({
                            type : "post",
                            dataType : "json",
                            url : "/blockChain/detail",
                            data : params,
                            success : function(data){
                                alert(data["ok"]);
                            }
                        })
                    }
                });
            });

            function submit(object){
                var ids = new Array();
                $("#result :checkbox:checked").each(function(i){
                    ids[i] = $(this).val();
                });

                if(ids.length == 0){
                    alert("请选择要咨讯");
                }else if(ids.length > 5){
                    alert("请选择5条以内的咨讯");
                }else{
                    var params = {ids:JSON.stringify(ids)};
                    $.ajax({
                        type : "post",
                        dataType : "json",
                        url : "/blockChain/index",
                        data : params,
                        success : function(data){
                            $("#image").empty();
                            img_link = "http://47.96.4.38:8006//blockChain/images?files=" + data["files"];
                            $("#image").append('<a target="_blank" href="http://47.96.4.38:8006/blockChain/images?files=' + data["files"] + '">查看图片</a>')
                        }
                    })
                }
            }

        </script>

    </head>
    <body>
        <button type="button" id="submit" class="btn btn-primary" onclick="submit(this);">提交</button>
        <div id="image"></div>
        <table class="table" id="result">
            <thead>
                <tr>
                    <th>--</th>
                    <th>日 期</th>
                    <th>平 台</th>
                    <th>详 情</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, num)%}
                    <tr>
                        <td><input type="checkbox" id="ck" value="{{result[i][0]}}"></td>
                        <td>{{result[i][1]}}</td>
                        <td>{{result[i][2]}}</td>
                        <td>
                            <table class="table">
                                <tr><td id="td_title">
                                    <font color="red">标题：</font>
                                    <a href="#" id="{{result[i][0]}}" class="mt">
                                        {{result[i][3]}}
                                    </a>
                                </td></tr>
                                <tr><td>
                                    <font color="red">摘要：</font>
                                    <a href="#" id="{{result[i][0]}}d" class="md">
                                        {{result[i][4]}}
                                    </a>
                                </td></tr>
                            </table>
                        </td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </body>
</html>